.income-exp-container {
  text-align: center;
  margin: -2.28rem 20rem;
  padding-bottom: 1.25rem;
}
.gap {
  margin: 0.45rem;
}
.inc-txt {
  font-size: 2rem;
}
.arrow-up {
  border: none;

  border-radius: 100%;
  background: rgb(0, 214, 0, 0.4);
  padding: 5px 8.5px;
  margin-left: 15px;
}
.arrow-down {
  border: none;

  border-radius: 100%;
  background: rgb(255, 0, 0, 0.4);

  padding: 5px 8.5px;
  margin-left: 15px;
}
.text-red {
  color: red;
}

.text-green {
  color: green;
}
